<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcxg1-SPAjQK-FutvhV3glSfPLSCNx0fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>30777494242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geminiApp</string>
	<key>PROJECT_ID</key>
	<string>geminiapicompetition-9effd</string>
	<key>STORAGE_BUCKET</key>
	<string>geminiapicompetition-9effd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30777494242:ios:3f25c2074ad06242b5acbb</string>
</dict>
</plist>